{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Student Extracurricular Activities</title>
    <link rel="stylesheet" href="{% static 'university/styles.css' %}">
</head>
<body>
    <a href="/home">Back to Home</a>
    <h1>Student Extracurricular Activities</h1>
    <ul>
        {% for student in students %}
            <li>
                <strong>Name: {{ student.first_name }} {{ student.last_name }}</strong><br>
                {% if student.extracurriculars %}
                    {% load custom_filters %}
                    {% for extracurricular_type, activities in student.extracurriculars.items %}
                        <div>
                            <strong>Extracurricular Type: {{ extracurricular_type|reformat }}</strong>
                            <ul>
                                {% for participation in activities %}
                                    <li>
                                        Activity Name: {{ participation.extracurricular_name.name }}<br>
                                        Time: {{ participation.hours }} hours per week
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No extracurricular activities found.</p>
                {% endif %}
            </li>
        {% empty %}
            <li>No students found.</li>
        {% endfor %}
    </ul>
</body>
</html>