{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Guidance Counselor Page</title>
    <link rel="stylesheet" href="{% static 'university/styles.css' %}">
</head>
<body>
    <a href="/home">Back to Home</a>
    <h1>Guidance Counselor List</h1>
    <ul>
        {% for guide in guidance %}
            <li>
                <strong>Counselor Name: {{ guide.first_name }} {{ guide.last_name }} </strong><br>
                Email: {{ guide.email }} <br>
                Start Date: {{ guide.start_date }} <br> 
                Supervisees:
                <ul>
                    {% for student in guide.student_set.all %}
                        <li>
                            <strong>Student Name: {{ student.first_name }} {{ student.last_name }}</strong><br>
                            Email: {{ student.email }} <br>
                            GPA: {{ student.GPA }}
                        </li>
                    {% empty %}
                        <li>Supervises Zero Students</li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <li>Zero Guidance Counselors</li>
        {% endfor %}
    </ul>
</body>
</html>