{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Question Page</title>
    <link rel="stylesheet" href="{% static 'university/styles.css' %}">
</head>
<body>
    <a href="/home">Back to Home</a>
    <h1>Questions List</h1>
    <ul>
        {% for quest in question %}
            <li>
                <strong>Name of College: {{quest.college.name}}</strong><br>
                <strong>Question: {{ quest.question}}</strong><br>
                Answers:
                <ul class="list_students">
                    {% for ans in quest.answers.all %}
                        <li>{{ans.answer}}</li>
                    {% empty %}
                        <li>Question is waiting to be answered</li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <li>Zero Questions</li>
        {% endfor %}
    </ul>
</body>
</html>